@media screen and (max-width:600px) {
    .app {
        scroll-snap-type: y mandatory;
        height: 100vh;
        overflow-y: scroll;
      }
}
/*2xl: left-[11%] 1000px: left-[85%]*/
@media screen and (max-width:1500px) {
    .banner1_title {
        font-size: 150px;
    }
}
